.caja{
    width: 100%;
    margin: 0 auto;
}
h2{
    text-align: center;
}
.boton{
    width: 45%;
    margin: 0 auto;
}


.botones{
}
.formulario{
}
.titulo{
}
.caja-persona{
    width: 85%;
}
.boton-persona{
    width: 15%;
}