<!--<div class="container">
  <mat-toolbar>
    <span>Crear Usuario</span>
  </mat-toolbar>
  <mat-card>
    <form [formGroup]="forms" (ngSubmit)="agregarPersona()">
      <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field class="caja" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              placeholder="Ejemplo: Eduardo"
              formControlName="nombre"
              [(ngModel)]="persona.nombre"
              type="text"
              autocomplete="off"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field class="caja" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input
              matInput
              placeholder="Ejemplo: Nieves"
              formControlName="apellido"
              [(ngModel)]="persona.apellido"
              type="text"
              autocomplete="off"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field class="caja" appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input
              matInput
              placeholder="Ejemplo: +584160534987"
              formControlName="telefono"
              [(ngModel)]="persona.telefono"
              type="text"
              autocomplete="off"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field class="caja" appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea
              matInput
              placeholder="Ejemplo: Es un desarrollador web master"
              formControlName="descripcion"
              [(ngModel)]="persona.descripcion"
              autocomplete="off"
            ></textarea>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <button
            type="submit"
            [disabled]="forms.invalid"
            mat-raised-button
            class="boton"
            color="primary"
          >
            Aceptar
          </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <button type="button" mat-raised-button class="boton" color="primary">
            Volver
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <br />
      <br />
    </form>
  </mat-card>
</div>-->
<div class="container">
  <h2 mat-dialog-title class="titulo">{{ title }} Persona</h2>
  <mat-dialog-content class="formulario">
    <form [formGroup]="forms">
      <mat-form-field class="caja" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Ejemplo: Eduardo"
          formControlName="nombre"
          type="text"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field class="caja" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input
          autocomplete="off"
          matInput
          placeholder="Ejemplo: Nieves"
          formControlName="apellido"
          type="text"
        />
      </mat-form-field>

      <mat-form-field class="caja" appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input
          matInput
          placeholder="Ejemplo: +584160534987"
          formControlName="telefono"
          type="text"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field class="caja" appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          placeholder="Ejemplo: Es un desarrollador web master"
          formControlName="descripcion"
          autocomplete="off"
        ></textarea>
      </mat-form-field>
      <br />
      <br />
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="botones">
    <button
      type="button"
      [disabled]="forms.invalid || persona.action=='ver'"
      mat-raised-button
      class="boton"
      color="primary"
      (click)="save()"
    >
      Aceptar
    </button>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <button
      mat-dialog-close
      type="button"
      mat-raised-button
      class="boton"
      color="primary"
    >
      Volver
    </button>
  </mat-dialog-actions>
</div>
