<div class="container">
  <h2 mat-dialog-title class="titulo">{{ title }} Persona</h2>
  <mat-dialog-content class="formulario">
    <form [formGroup]="forms">
      <mat-form-field class="caja" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Ejemplo: Eduardo"
          formControlName="nombre"
          type="text"
          autocomplete="off"
        />
        <mat-error>El nombre es requerido</mat-error>
      </mat-form-field>

      <mat-form-field class="caja" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input
          autocomplete="off"
          matInput
          placeholder="Ejemplo: Nieves"
          formControlName="apellido"
          type="text"
        />
        <mat-error>El apellido es requerido</mat-error>
      </mat-form-field>

      <mat-form-field class="caja" appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input
          matInput
          placeholder="Ejemplo: +584160534987"
          formControlName="telefono"
          type="text"
          autocomplete="off"
        />
        <mat-error>
          <span *ngIf="telefono!.hasError('minlength')">El teléfono debe contener mínimo 8 caracteres</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="caja" appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          placeholder="Ejemplo: Es un desarrollador web master"
          formControlName="descripcion"
          autocomplete="off"
        ></textarea>
        <mat-error>
          <span *ngIf="descripcion!.hasError('minlength')">La descripción debe contener minimo 10 caracteres</span>
        </mat-error>
      </mat-form-field>
      <br />
      <br />
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="botones">
    <button
      type="button"
      [disabled]="forms.invalid || persona.action == 'ver'"
      mat-raised-button
      class="boton"
      color="primary"
      (click)="save()"
    >
      Aceptar
    </button>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <button
      mat-dialog-close
      type="button"
      mat-raised-button
      class="boton"
      color="primary"
    >
      Volver
    </button>
  </mat-dialog-actions>
</div>
